body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
}

.single_card {
    // margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    // flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    // height: 100%;
    // width: 90%;
    // border-radius: 10px;
    width: 100vw;
    height: 100vh;
    // background-color: black;
    background-image: url(../images/photo-1519751138087-5bf79df62d5b.jpeg);
    background-size: cover;
    background-position:  center;
    background-repeat: repeat;
    overflow: hidden;
    text-align: center;
    
}


// .single_card:hover {
    // transform: translateY(-20px);
    // transition: 0.4s ease-out;
    
// }
.single_card:hover ~ .card {
    height: 100%;
    // position: relative;
    // left: 50px;
    // transition: 0.4s ease-out;
    
}

.right_div_container {
    margin-top: 1%;
    margin-right: 2%;
    padding-left: 10%;
}

.title {
    background-color: rgb(5, 67, 96) !important;
    margin-top: 328px;
    color: rgb(245, 240, 240);
    font-weight: 300;
    position: absolute;
    justify-content: center;
    left: 16px;
    top: 15px;
    // border-radius: 5px;
}
.bar {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 5px;
    width: 150px;
}
.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}
.filledbar {
    position: absolute;
    top: 0px;
    // z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}
.single_card:hover .filledbar {
    // width: 120px;
    height: 100%;
    // transition: 0.4s ease-out;
    
}
.circle {
    position: absolute;
    top: 150px;
    // left: calc(50% - 60px);
}

.image-card {
    box-shadow: -2rem 0 3rem rgb(182, 183, 187);
    // display: flex;
    width: 65vh;
    height: 80%;
    position: relative;
    margin-right: 60%;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // align-items: stretch;
    // align-content: flex-start;
    padding: 10px; 
    border-radius: 10%;
    margin-top: 15px;
    // margin: 0 auto 0 auto;
    // justify-content: center;

  }


  .map-div {
      
    margin: 0 auto 0 auto;

  }

.img_div {
    height: 50%;
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    // transition: 0.6s ease-out;
}
svg {
    fill: #17141d;
    // stroke-width: 2px;
}
// .single_card:hover .stroke {
//     // stroke-dashoffset: 100;
//     // transition: 0.6s ease-out;
    
// }

.col-sm-4.py-2.px-2 {
width: 50%;
height: 80%;
}

.overFlow {
    margin-bottom: 20px;
    height: 75% ;
    position: relative;
    background-color: white;
    overflow-y: scroll;
    flex-direction: row;
    width: 100%;
    border: 2px solid grey;
}

.text-styling {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(245, 244, 239, 0.486);
    color: black;
}